.container {
  display: flex;
  width: 100vw;
  height: 900px;
  justify-content:center;

}

.containerDivided {
  display: flex;
  width: 75%;
  height: 600px;
  margin-top: 16px;
  border: solid 1px;
  border-radius: 30px;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: 5px 5px 10px #eeebea; */
}

.left {
  display: flex;
  width: 47%;
  height: 93%;
  align-items: flex-end;
}

.imageContainer {
  position: absolute;
  width: 35.7%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.seeImageButton:hover {
  opacity: 1;
}

.imageButtons {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  z-index: 10;
}

.seeImageButton {
  width: 30%;
  height: 100%;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
}



.magnifyingGlassButton {
  width: 9%;
  height: 100%;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.right {
  width: 48%;
  height: 93%;
}

.iconsSection {
  display:flex;
  width: 100%;
  height: 13%;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  width:30%;
  height: 80%;
  font-size: 20px;
  justify-content: space-around;
  align-items: center;
  margin-left: 25px;
}

.fa-ellipsis {
  cursor: pointer;
}

.fa-arrow-up-from-bracket {
  cursor: pointer;
}

.fa-link {
  cursor: pointer;
}

.buttonsSection {
  display: flex;
  width: 50%;
  height: 100%;
  font: size 20px;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.saveButton {
  width: 35%;
  height: 50%;
  border-radius: 30px;
  border: none;
  margin-left: 15px;
  background-color: red;
  color: white;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.saveButton:hover {
  opacity: .5;
}

.iconsButton {
  font-weight: bold;
  cursor: pointer;
}

.title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px ;
  padding-left: 15px;
  padding-bottom: 30px;
  cursor: pointer;
}

.user {
  display: flex;
  width: 100%;
  height: 5%;
  font-size: 22px;
  align-items: flex-start;
}

.user p {
  margin: 0;
  padding-left: 15px;
}

.name {
  font-weight: bold;
  cursor: pointer;
}

.followSection1 {
  display: flex;
  width: 100%;
  height: 16.6%;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.photo {
  display: flex;
  width: 30%;
}

.perfilPhoto {
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.name1 {
  font-weight: bold;
  cursor: pointer;
}

.followSection2 {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  margin-right: 17px;
}

.followButton {
  width: 50%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(223, 221, 221);
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.followButton:hover {
  opacity: .5;
}

.commentButton {
  width: 100%;
  height: 5%;
  padding-top: 35px;
}

.commentButton p {
  margin-left: 15px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 20px;
}

.fa-chevron-down {
  padding-left: 5px;
  cursor: pointer;
}

.text {
  width: 100%;
  height: 5%;
  padding-left: 15px;
  font-size: 13px;
}

.commentInput {
  display: flex;
  width: 100%;
  height: 16.6%;
  align-items: center;
  padding-left: 15px;
}

.input {
  width: 65%;
  height: 60%;
  border-radius: 50px;
  font-size: 17px;
}

.photo1 {
  border-radius: 50%;
  width: 15%;
  padding-right: 10px;
  cursor: pointer;
} 

.fa-face-grin-wide {
  color: yellow;
  margin-left: 5px;
}

.mas {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 70px;
  right: 20px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

.interrogacion {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

.mas:hover {
  opacity: .5;
}

.interrogacion:hover {
  opacity: .5;
}