html {
    font-size: 63%; 
    font-weight:bolder;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* body {
    margin: 1rem;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
} */

h2{
    margin: 0;
}


img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

/* The_Amazing_Navbar_equisde */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.8rem;
    position: absolute;
    position: sticky;
    z-index: 100;
    padding: 0.4rem 1.6rem;
}

.nav-combo-items{
    display: flex;
    align-items: center;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 2.4rem;
}

.logo:hover{
    background-color: rgb(236, 236, 236);
}

.logo img{
    width: 2.45rem;
    height: 2.45rem;
}

.btn-inicio{
    height: 4.8rem;
    min-width: 6.5rem;
    padding: 0 1.8rem;
    background-color: rgb(17, 17, 17);
    border-radius: 24px;
}

.btn-inicio a{
    color: #fff;
    font-weight: 400 bolder;
    
}

.inicio_flecha img{
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
    padding-top: 1px;
    display: none;
}

.container-busqueda{
    flex: 1;
    padding: 0 0.8rem;
}


.input-busqueda{
    flex: 1;
    height: 4.8rem;
    padding: 0 1rem;
    background-color: rgb(239, 239, 239);
    border-radius: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.input-busqueda:hover{
    background-color: rgb(220, 220, 220);
}

.busqueda-input{
    width: 100%;
    height: 100%;
    border-radius: 2.4rem;
}

input[type="text"]{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

::placeholder{
    font-size: 1.6rem;
}

input[type=text]:focus {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.4rem;
    padding-left: 2.3rem;
    outline-color: rgb(103, 174, 255);
    outline-style: solid;
    outline-width: 0.4rem;
    background-color: rgb(220, 220, 220);
}

.busqueda-lupa{
    padding-left: 1.1rem;
    margin-right: 0.8rem;
}

.busqueda-lupa img{
    width: 1.8rem;
    height: 1.8rem;
}

.btn-notificaciones{
    height: 48px;
    width: 48px;
    padding: 0.4rem;
    margin-left: 1rem;
}

.btn-notificaciones img{
    padding: 1rem;
}

.btn-notificaciones:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 2.4rem;
    cursor: pointer;
}

.btn-mensajes{
    height: 4.8rem;
    width: 4.8rem;
}

.btn-mensajes img{
    padding: 1rem;
}

.btn-mensajes:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 2.4rem;
    cursor: pointer;
}

.btn-avatar{
    height: 4.8rem;
    width: 4.8rem;
}

.btn-avatar img{
    padding: 1rem;
}



.btn-avatar:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 2.4rem;
    cursor: pointer;
}

.btn-opciones{
    height: 2.4rem;
    width: 2.4rem;
}

.btn-opciones img{
    padding: 0.6rem;
}

.btn-opciones:hover{
    background-color: rgb(239, 239, 239);
    border-radius: 2.4rem;
    cursor: pointer;
}